div.header {
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    background: url(resources/images/backgroundSide.png);
}

div.container {
    width: 900px; margin: 0; padding: 0;
}

div.content {
  width: 60%; height: 100%; 	margin: 0; padding: 0; border: 0; float: right; background: #FFFFFF;
}
